*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body > * {
  margin: 2rem 0rem;
}

html {
  background-image: url("./Images/furley_bg.png");
}

:root {
  --blue: #5cfffa;
  --orange: #ff855c;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* etch-a-sketch border/ wrapper for the container div */
.sketch-wrapper {
  position: relative;
  display: block;
  margin: 2rem 0rem;
  width: 100%;
  background: white;
  box-shadow: 5px 5px 15px 5px #000000;
  border: var(--blue) solid 10px;
}

.sketch-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* format buttons */
button,
input {
  padding: 2.5px 5px;
  border: var(--orange) solid 2px;
  color: black;
  font-size: 1rem;
  background: white;
  border-radius: 5px;
  box-sizing: content-box;
}

button:hover,
input:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px 2px #000000;
}

button:focus,
input:focus {
  box-shadow: 2px 2px 10px 2px #000000;
  outline: none;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* format div that holds the pixels */
.content {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
}

/* format the items below sketch container (slider and reset button) */
.slideWrapper {
  display: flex;
}

.slider-format {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* edit slider appearance */
.slider {
  width: 90%;
  height: 0px;
  border-radius: 20px;
  -webkit-appearance: none;
  background: white;
  border: #ff855c solid 2px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: #ff855c;
}

/* position number to the right of slider */
.number {
  width: 30px;
  padding-left: 10px;
}

.slideformat span {
  margin-left: 12px;
}

/* Position slider heading */
.pixel {
  position: relative;
  left: 40px;
  font-size: 1rem;
}

/* position reset button */
.reset-button {
  position: relative;
  bottom: 2.5px;
}

/* header  */
header {
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #ff5c5f;
  font-family: "Special Elite", cursive;
}

/* wraps buttons and sketch container */
.content-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-buttons {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    width: 400px;
  }
  button,
  input {
    padding: 5px 15px;
  }
  .pixel {
    left: 50px;
  }
  h1 {
    font-size: 3rem;
  }
}
